<app-action-bar title="Products" iosIcon="res://navigation/menu" androidIcon="res://menu"></app-action-bar>

<GridLayout rows="auto,*" tkExampleTitle tkToggleNavButton>
    <Label class="section-header" row="0" [text]="categoryName"></Label>

    <RadListView row="1" [items]="products">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewGridLayout>
        <ng-template tkListItemTemplate let-product="item">
            <GridLayout (tap)="goToProductDetails(product.Id)" rows="auto,auto">
                <portrait-card row="0" width="175" height="200" [imageUrl]="product.DefaultPictureModel.ImageUrl"
                    [title]="product.Name" [subTitle]="product.ProductPrice.Price">
                </portrait-card>
                <!-- <Button row="1" class="btn btn-primary" text="Add To Cart" (tap)="addToCart(product)"></Button> -->
            </GridLayout>
        </ng-template>
    </RadListView>
    <ActivityIndicator rowSpan="2" [busy]="isBusy" [visibility]="isBusy ? 'visible' : 'collapsed'" horizontalAlignment="center"
        verticalAlignment="center">
    </ActivityIndicator>
</GridLayout>