<app-action-bar title="Shopping Cart"></app-action-bar>
<ScrollView orientation="vertical">
    <GridLayout class="main" rows="auto,auto,auto">
        <RadListView row="0" [items]="shoppingCart.Items">
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout columns="auto,*,auto,auto" class="item-section" tkExampleTitle tkToggleNavButton>
                    <Image col="0" [src]="item.Picture.ImageUrl" class="product-image"></Image>
                    <StackLayout col="1" class="p-5">
                        <Label [text]="item.ProductName" class="item-text"></Label>
                        <Label [text]="item.UnitPrice" class="item-text"></Label>
                    </StackLayout>
                    <GridLayout col="2" rows="30,*,30">
                        <Image [isEnabled]="!isBusy" row="0" src="~/app/images/expand_less.png" class="text-center"
                            (tap)="addItemCount(item)"></Image>
                        <Label [isEnabled]="!isBusy" row="1" [text]="item.Quantity" class="text-center"></Label>
                        <Image [isEnabled]="!isBusy" row="2" src="~/app/images/expand_more.png" class="text-center"
                            (tap)="reduceItemCount(item)"></Image>
                    </GridLayout>
                    <GridLayout col="3">
                        <Image [isEnabled]="!isBusy" src="~/app/images/delete.png" class="text-center remove-action-image"
                            (tap)="removeFromCart(item.Id)"></Image>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
        <GridLayout row="1" rows="auto,auto,auto" class="section" tkExampleTitle tkToggleNavButton>
            <GridLayout row="0" columns="auto,*" orientation="horizontal">
                <Label col="0" text="Sub-Total" class="summary"></Label>
                <Label col="1" [text]="shoppingCart.OrderTotalResponseModel.SubTotal" class="text-right summary"></Label>
            </GridLayout>
            <GridLayout row="1" columns="auto,*" orientation="horizontal">
                <Label col="0" text="Shipping" class="summary"></Label>
                <Label col="1" text="Calculated During Checkout" class="text-right summary"></Label>
            </GridLayout>
            <GridLayout row="2" rows="auto,auto" columns="auto,*" orientation="horizontal">
                <StackLayout row="0" colSpan="2" class="hr-light"></StackLayout>
                <Label row="1" col="0" text="Total" class="summary-total"></Label>
                <Label row="1" col="1" text="Calculated During Checkout" class="text-right summary-total"></Label>
            </GridLayout>
        </GridLayout>
        <Button [isEnabled]="!isBusy" row=2 class="btn btn-primary" text="PROCEED TO CHECKOUT" (tap)="goToCheckout()"></Button>
        <ActivityIndicator [busy]="isBusy" [visibility]="isBusy ? 'visible' : 'collapsed'" horizontalAlignment="center"
            verticalAlignment="center" rowSpan="3">
        </ActivityIndicator>
    </GridLayout>
</ScrollView>