<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-brand" text="Categories"></Label>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout>
                    <RadListView [items]="categories" class="list-group">
                        <ng-template let-category="item">
                            <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected(category)"
                                (tap)="onNavItemTap(category)">
                                <!-- <Label col="0" text="&#xf015;" class="fa"></Label> -->
                                <!-- <Image col="0" [src]="category.IconPath"></Image> -->
                                <Label col="1" [text]="category.Name" class="p-r-10"></Label>
                            </GridLayout>
                        </ng-template>
                    </RadListView>
                </GridLayout>


            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>