<app-action-bar title="Login"></app-action-bar>
<GridLayout class="main">
    <StackLayout class="main-inner">
        <GridLayout rows="auto,auto,auto">
            <TextField row="0" [isEnabled]="!isBusy" hint="Email Address" class="input input-border" [(ngModel)]="model.email"
                keyboardType="email">
            </TextField>
            <TextField row="1" [isEnabled]="!isBusy" hint="Password" class="input input-border" [(ngModel)]="model.password"
                secure="true">
            </TextField>
            <Button row="2" [isEnabled]="!isBusy" class="btn btn-primary" text="LOG IN" (tap)="login()"></Button>
            <ActivityIndicator rowSpan="3" [busy]="isBusy" [visibility]="isBusy ? 'visible' : 'collapsed'"
                horizontalAlignment="center" verticalAlignment="center">
            </ActivityIndicator>
        </GridLayout>
        <Button class="btn btn-primary" text="REGISTER" (tap)="register()"></Button>
    </StackLayout>
</GridLayout>