<app-action-bar title="Register"></app-action-bar>
<GridLayout class="main">
    <StackLayout class="main-inner">
        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto">
            <TextField row="0" [isEnabled]="!isBusy" hint="First Name" class="input input-border" [(ngModel)]="model.FirstName">
            </TextField>
            <TextField row="1" [isEnabled]="!isBusy" hint="Last Name" class="input input-border" [(ngModel)]="model.LastName">
            </TextField>
            <TextField row="2" [isEnabled]="!isBusy" hint="Email" class="input input-border" [(ngModel)]="model.Email"
                keyboardType="email">
            </TextField>
            <TextField row="3" [isEnabled]="!isBusy" hint="Phone" class="input input-border" [(ngModel)]="model.Phone">
            </TextField>
            <TextField row="4" [isEnabled]="!isBusy" hint="Password" class="input input-border" [(ngModel)]="model.Password"
                secure="true">
            </TextField>
            <TextField row="5" [isEnabled]="!isBusy" hint="Confirm Password" class="input input-border" [(ngModel)]="model.ConfirmPassword"
                secure="true">
            </TextField>
            <Button row="6" [isEnabled]="!isBusy" class="btn btn-primary" text="REGISTER" (tap)="register()"></Button>
            <ActivityIndicator rowSpan="7" [busy]="isBusy" [visibility]="isBusy ? 'visible' : 'collapsed'"
                horizontalAlignment="center" verticalAlignment="center">
            </ActivityIndicator>
        </GridLayout>
        <Button class="btn btn-primary" text="LOG IN" (tap)="login()"></Button>
    </StackLayout>
</GridLayout>