<app-action-bar title="Home" iosIcon="res://navigation/menu" androidIcon="res://menu"></app-action-bar>
<ScrollView orientation="vertical">
    <GridLayout class="main" rows="auto,auto,*">
        <GridLayout row="0" [carousel]="images" carouselSpeed="3000">
        </GridLayout>
        <GridLayout row="1" rows="auto,*" class="section" tkExampleTitle tkToggleNavButton>
            <Label class="section-header" row="0" text="FEATURED CATEGORIES"></Label>
            <RadListView row="1" [items]="featuredCategories">
                <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
                <ng-template tkListItemTemplate let-category="item">
                    <GridLayout (tap)="goToCategoryProducts(category.Id)">
                        <portrait-card [imageUrl]="category.DefaultPictureModel.ImageUrl" [title]="category.Name">
                        </portrait-card>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </GridLayout>

        <GridLayout row="2" rows="auto,*" class="section" tkExampleTitle tkToggleNavButton>
            <Label class="section-header" row="0" text="FEATURED PRODUCTS"></Label>
            <RadListView row="1" [items]="featuredProducts">
                <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
                <ng-template tkListItemTemplate let-product="item">
                    <GridLayout (tap)="goToProductDetails(product.Id)">
                        <portrait-card [imageUrl]="product.DefaultPictureModel.ImageUrl" [title]="product.Name"
                            [subTitle]="product.ProductPrice.Price">
                        </portrait-card>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </GridLayout>

    </GridLayout>
</ScrollView>