<app-action-bar [title]="product.Name"></app-action-bar>
<ScrollView orientation="vertical">
    <GridLayout orientation="vertical" rows="auto,auto,auto">
        <portrait-card row="0" height="410" width="350" [imageUrl]="product.DefaultPictureModel.ImageUrl" [title]="product.Name"
            [subTitle]="product.ProductPrice.Price">
        </portrait-card>
        <GridLayout row="1" columns="*,*,*">
            <Button [isEnabled]="!isBusy" (tap)="lessProductCount()" col="0" text="-" class="btn btn-primary"></Button>
            <TextField [isEnabled]="!isBusy" col="1" [(ngModel)]="productCount" keyboardType="number" class="input input-border text-center">
            </TextField>
            <Button [isEnabled]="!isBusy" (tap)="addProductCount()" col="2" text="+" class="btn btn-primary"></Button>
        </GridLayout>
        <Button [isEnabled]="!isBusy" row="2" text="ADD TO CART" class="btn btn-primary" (tap)="addToCart(product.Id)"></Button>
        <ActivityIndicator rowSpan="3" [busy]="isBusy" [visibility]="isBusy ? 'visible' : 'collapsed'"
            horizontalAlignment="center" verticalAlignment="center">
        </ActivityIndicator>
    </GridLayout>
</ScrollView>