<GridLayout rows="* auto" columns="*" class="item-card" [width]="width" [height]="height">
    <Image stretch="aspectFit" row="0" col="0" [src]="imageUrl" class="thumb p-16"></Image>
    <StackLayout row="1" col="0" backgroundColor="white" class="list-group-item text-center">
        <Label class="item-card-title" [text]="title" textWrap="true"></Label>
        <Label class="item-card-sub-title" [text]="subTitle" textWrap="true"></Label>
    </StackLayout>
</GridLayout>