<GridLayout row="1" rows="auto,*" class="section" tkExampleTitle tkToggleNavButton>
    <Label class="section-header" row="0" [text]="sectionHeader"></Label>
    <RadListView row="1" [items]="items">
        <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
        <ng-template tkListItemTemplate let-item="item">
            <portrait-card [imageUrl]="category.DefaultPictureModel.ImageUrl" [title]="category.Name">
            </portrait-card>
        </ng-template>
    </RadListView>
</GridLayout>