<app-action-bar title="Checkout"></app-action-bar>
<ScrollView orientation="vertical">
    <GridLayout class="main" rows="auto,auto">
        <GridLayout row="0" class="section" rows="auto,auto,auto">
            <Label row="0" text="Select Pickup Point"> </Label>
            <DropDown #dd row="1" [items]="pickupPoints" (selectedIndexChanged)="onchange($event)"></DropDown>

        </GridLayout>
        <Button row="1" class="btn btn-primary" text="Confirm Order" (tap)="confirmOrder()"></Button>
        <ActivityIndicator [busy]="isBusy" [visibility]="isBusy ? 'visible' : 'collapsed'" horizontalAlignment="center"
            verticalAlignment="center" rowSpan="2">
        </ActivityIndicator>
    </GridLayout>
</ScrollView>