<ActionBar class="action-bar" [title]="title">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton [icon]="androidIcon" ios:visibility="collapsed" (tap)="onNavigationButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem [icon]="iosIcon" android:visibility="collapsed" (tap)="onNavigationButtonTap()" ios.position="left">
    </ActionItem>

    <ActionItem (tap)="goToCart()">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/shopping-cart.png"></Image>
            <Label [visibility]="cartQuantity > 0 ? 'visible' : 'collapsed'" class="cart-quantity" [text]="cartQuantity"></Label>
        </StackLayout>
    </ActionItem>

    <ActionItem ios.position="popup" android.position="popup" text="Log In" [visibility]="isAuthenticated ? 'collapsed' : 'visible'"
        (tap)="goToLogin()"></ActionItem>
    <ActionItem ios.position="popup" android.position="popup" text="My Account" [visibility]="isAuthenticated ? 'visible' : 'collapsed'"
        (tap)="goToMyAccount()"></ActionItem>
    <ActionItem ios.position="popup" android.position="popup" text="Orders" [visibility]="isAuthenticated ? 'visible' : 'collapsed'"
        (tap)="goToOrders()"></ActionItem>
    <ActionItem ios.position="popup" android.position="popup" text="Log Out" [visibility]="isAuthenticated ? 'visible' : 'collapsed'"
        (tap)="logout()"></ActionItem>

</ActionBar>